<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-6 d-xl-block d-lg-block d-flex align-items-center">
                        <div class="logo">
                            <a href='index.html'>
                                <img src="assets/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 d-xl-none d-lg-none d-flex justify-content-end">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a class='nav-link active' [routerLink]="['reclamation']">Reclamation</a>
                                </li>
                              
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Pages
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class='nav-link active'>
                                            <a routerLink="sign-in">Sign in</a>
                                          </li>
                                          
                                        <li><a class='nav-link active' [routerLink]="['register']">Register/Sign up</a></li>
                                        <li><a class='dropdown-item' href='faq.html'>Ques. & Ans.</a></li>
                                        <li><a class='dropdown-item' href='blog-posts.html'>Blog Posts</a></li>
                                        <li><a class='dropdown-item' href='blog-details.html'>Blog Details</a></li>
                                        <li><a class='dropdown-item' href='error.html'>Error 404</a></li>
                                    </ul>
                                </li>
                              
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-none align-items-center justify-content-end">
                <a class='btn-pok mid' href='lotteries.html'>
                    Sign in <i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>