<div class="breadcrumb-pok">
    <img class="br-shape-left" src="assets/img/breadcrumb/left-bg.png" alt="">
    <img class="br-shape-right" src="assets/img/breadcrumb/right-bg.png" alt="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-6">
                <div class="breadcrumb-content">
                    <span class="subtitle">contact us</span>
                    <h2 class="title">Reclamer</h2>
                    <div class="page-links">
                        <ul>
                            <li>
                                <a href='index.html'>Home</a>
                            </li>
                            <li>
                                <span class="current-page">Contact Us</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-us">
    <img src="assets/img/bg-shape/wp-shape-2.png" alt="" class="wp-bg-shape-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="part-contact poklotto-form">
                    <h3 class="title">Reclamer</h3>
                    <div class="part-form">
                        <form>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label for="first_name" class="form-label">First name</label>
                                    <input type="text" id="first_name" placeholder="Ex: john">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label for="Date" class="form-label">Date</label>
                                    <input type="text" id="last_name" placeholder="Ex: doe">
                                </div>
                               
                                
                                <div class="col-xl-12 col-lg-12">
                                    <label for="write_message" class="form-label">write a Message</label>
                                    <textarea id="write_message" placeholder="Ex: Hello, admin...."></textarea>
                                </div>
                            </div>
                            <button class="btn-pok">
                                submit to us <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-9 col-sm-9 d-xl-flex d-lg-flex d-block align-items-end">
                <div class="part-img">
                    <img src="Front/assets/img/contact/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="part-address">
        <div class="container">
            <div class="address-elements">
                <div class="single-element">
                    <h4 class="title">Phone</h4>
                    <ul>
                        <li>+96 847-930-0570</li>
                        <li>+96 603-221-6491</li>
                    </ul>
                </div>
                <div class="single-element">
                    <h4 class="title">email</h4>
                    <ul>
                        <li>JameMorgan@armyspy.com</li>
                        <li>WalterBBarry@rhyta.com</li>
                    </ul>
                </div>
                <div class="single-element">
                    <h4 class="title">Head office</h4>
                    <ul>
                        <li>1051 Agriculture Lane</li>
                        <li>Miami, Florida(FL), 33179</li>
                        <li>305-249-1601</li>
                    </ul>
                </div>
                <div class="single-element">
                    <h4 class="title">branch 1</h4>
                    <ul>
                        <li>3880 Eagle Drive</li>
                        <li>Detroit, Michigan(MI), 48219</li>
                        <li>734-771-2836</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>