  <div class="banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="banner-content">
                        <h4 class="sub-title">passionate to online lotto?</h4>
                        <h1 class="title">choose a <span class="special">quick pick</span> for <span class="b-spc">Lotto online</span></h1>
                        <div class="all-btns">
                            <a class='btn-pok' href='lotteries.html'>Play Lottery <i class="fa-solid fa-angle-right"></i></a>
                            <a class='btn-pok-2' href='about.html'>Explore More <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-9 d-xl-flex d-lg-flex d-block align-items-end">
                    <div class="part-img">
                        <img class="main-img" src="assets/img/banner-img.png" alt="">
                        <img src="assets/img/power-ball.png" alt="" class="power-ball pok-1">
                        <img src="assets/img/power-ball2.png" alt="" class="power-ball pok-2">
                        <img src="assets/img/power-ball3.png" alt="" class="power-ball pok-3">
                        <img src="assets/img/power-ball4.png" alt="" class="power-ball pok-4">
                        <img src="assets/img/power-ball5.png" alt="" class="power-ball pok-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- lottery begin -->
    <div class="lotteries">
        <div class="bg-shape-2">
            <img src="assets/img/bg-shape/bg-shape-2.png" alt="">
        </div>
        <div class="bg-shape-1">
            <img src="assets/img/bg-shape/bg-shape-1.png" alt="">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title">
                        <h3 class="sub-title">All lotteries</h3>
                        <h2 class="title">pick your lucky number</h2>
                    </div>
                </div>
            </div>
            <div class="part-picking-number">
                <div class="lotteries-selection-menu">
                    <ul>
                        <li>
                            <a href="#0" class="single-lottery-item active">
                                <span class="lottery-icon">
                                    <img src="assets/img/lottery/euro-jackpot.png" alt="">
                                </span>
                                <span class="lottery-name">Euro Jackpot</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="single-lottery-item">
                                <span class="lottery-icon">
                                    <img src="assets/img/lottery/euro-millions.png" alt="">
                                </span>
                                <span class="lottery-name">Euro Millions</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="single-lottery-item">
                                <span class="lottery-icon">
                                    <img src="assets/img/lottery/ena-lotto.png" alt="">
                                </span>
                                <span class="lottery-name">Super Enalotto</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="single-lottery-item">
                                <span class="lottery-icon">
                                    <img src="assets/img/lottery/keno.png" alt="">
                                </span>
                                <span class="lottery-name">Keno Lotto</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="single-lottery-item">
                                <span class="lottery-icon">
                                    <img src="assets/img/lottery/illinois.png" alt="">
                                </span>
                                <span class="lottery-name">Illions Lotttery</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="single-lottery-item">
                                <span class="lottery-icon">
                                    <img src="assets/img/lottery/new-jersey.png" alt="">
                                </span>
                                <span class="lottery-name">New Jersey</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="animation-body animated">
                    <div class="picking-number-header">
                        <img src="assets/img/lottery/lottery-header-right-img.png" alt="" class="lottery-bg-img">
                        <div class="part-lottery-info">
                            <div class="part-img selected-lottery-logo">
                                <img src="assets/img/lottery/euro-jackpot-big.png" alt="">
                            </div>
                            <div class="part-text">
                                <span class="lottery-name">Euro Jackpot</span>
                                <span class="estimate-prize">Estimated prize : <span class="prize-amount">$25.0248</span></span>
                            </div>
                        </div>
                        <div class="part-lottery-function-btn">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-numbers-tab" data-bs-toggle="pill" data-bs-target="#pills-numbers" type="button" role="tab" aria-controls="pills-numbers" aria-selected="true">pick any 6 numbers</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-winners-tab" data-bs-toggle="pill" data-bs-target="#pills-winners" type="button" role="tab" aria-controls="pills-winners" aria-selected="false">Winners</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="false">Prizes & info</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="picking-number-body">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-numbers" role="tabpanel" aria-labelledby="pills-numbers-tab">
                                <div class="picking-number-palate">
                                    <div class="number-box common">
                                        <button class="single-number">
                                            01
                                        </button>
                                        <button class="single-number">
                                            02
                                        </button>
                                        <button class="single-number">
                                            03
                                        </button>
                                        <button class="single-number selected">
                                            04
                                        </button>
                                        <button class="single-number">
                                            05
                                        </button>
                                        <button class="single-number">
                                            06
                                        </button>
                                        <button class="single-number">
                                            07
                                        </button>
                                        <button class="single-number">
                                            08
                                        </button>
                                        <button class="single-number">
                                            09
                                        </button>
                                        <button class="single-number">
                                            10
                                        </button>
                                        <button class="single-number">
                                            11
                                        </button>
                                        <button class="single-number">
                                            12
                                        </button>
                                        <button class="single-number">
                                            13
                                        </button>
                                        <button class="single-number">
                                            14
                                        </button>
                                        <button class="single-number">
                                            15
                                        </button>
                                        <button class="single-number selected">
                                            16
                                        </button>
                                        <button class="single-number">
                                            17
                                        </button>
                                        <button class="single-number">
                                            18
                                        </button>
                                        <button class="single-number">
                                            19
                                        </button>
                                        <button class="single-number">
                                            20
                                        </button>
                                        <button class="single-number">
                                            21
                                        </button>
                                        <button class="single-number selected">
                                            22
                                        </button>
                                        <button class="single-number">
                                            23
                                        </button>
                                        <button class="single-number">
                                            24
                                        </button>
                                        <button class="single-number">
                                            25
                                        </button>
                                        <button class="single-number">
                                            26
                                        </button>
                                        <button class="single-number">
                                            27
                                        </button>
                                        <button class="single-number">
                                            28
                                        </button>
                                        <button class="single-number">
                                            29
                                        </button>
                                        <button class="single-number selected">
                                            30
                                        </button>
                                        <button class="single-number">
                                            31
                                        </button>
                                        <button class="single-number">
                                            32
                                        </button>
                                        <button class="single-number">
                                            33
                                        </button>
                                        <button class="single-number">
                                            34
                                        </button>
                                        <button class="single-number">
                                            35
                                        </button>
                                        <button class="single-number">
                                            36
                                        </button>
                                        <button class="single-number">
                                            37
                                        </button>
                                        <button class="single-number selected">
                                            38
                                        </button>
                                        <button class="single-number">
                                            39
                                        </button>
                                        <button class="single-number">
                                            40
                                        </button>
                                    </div>
                                    <div class="number-box special">
                                        <button class="single-number">
                                            01
                                        </button>
                                        <button class="single-number">
                                            02
                                        </button>
                                        <button class="single-number">
                                            03
                                        </button>
                                        <button class="single-number">
                                            04
                                        </button>
                                        <button class="single-number">
                                            05
                                        </button>
                                        <button class="single-number selected special">
                                            06
                                        </button>
                                        <button class="single-number">
                                            07
                                        </button>
                                        <button class="single-number">
                                            08
                                        </button>
                                        <button class="single-number">
                                            09
                                        </button>
                                        <button class="single-number">
                                            10
                                        </button>
                                        <button class="single-number">
                                            11
                                        </button>
                                        <button class="single-number">
                                            12
                                        </button>
                                        <button class="single-number">
                                            13
                                        </button>
                                        <button class="single-number">
                                            14
                                        </button>
                                        <button class="single-number">
                                            15
                                        </button>
                                        <button class="single-number">
                                            16
                                        </button>
                                        <button class="single-number">
                                            17
                                        </button>
                                        <button class="single-number">
                                            18
                                        </button>
                                        <button class="single-number">
                                            19
                                        </button>
                                        <button class="single-number">
                                            20
                                        </button>
                                    </div>
                                </div>
                                <div class="picking-number-result">
                                    <div class="part-title">
                                        <h3 class="title">Selected numbers:</h3>
                                    </div>
                                    <div class="result-number-palate">
                                        <button class="single-number selected" id="4">
                                            04
                                        </button>
                                        <button class="single-number selected" id="16">
                                            16
                                        </button>
                                        <button class="single-number selected" id="22">
                                            22
                                        </button>
                                        <button class="single-number selected" id="30">
                                            30
                                        </button>
                                        <button class="single-number selected" id="38">
                                            38
                                        </button>
                                        <button class="single-number selected special" id="06">
                                            06
                                        </button>
                                    </div>
                                    <div class="picking-number-quick-buttons">
                                        <button class="clear-btn" id="clear-all-numbers">Clear <i class="fa-solid fa-xmark"></i></button>
                                        <button class="auto-select-btn" id="auto-select-btn">Auto select <i class="fa-solid fa-arrows-rotate"></i></button>
                                    </div>
                                </div>
                                <div class="picking-number-final-step">
                                    <div class="part-text">
                                        <p><span class="b-txt">Note :</span>  Problem set compensation the harmonics, understood. Hundreds times,<br/> of until they employed sure a behind boundless their for.</p>
                                    </div>
                                    <div class="part-btn">
                                        <a class='btn-pok' href='lotteries.html'>Continue to cart <i class="fa-solid fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-winners" role="tabpanel" aria-labelledby="pills-winners-tab">
                                <div class="lottery-winners">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <h4 class="lottery-winners-title">Most recent Winners</h4>
                                            <div class="single-winner">
                                                <div class="part-img">
                                                    <img src="assets/img/lottery/winner-1.jpg" alt="">
                                                </div>
                                                <div class="part-text">
                                                    <p><span class="user-name">Richard william</span> has won 2 minutes ago.</p>
                                                    <ul>
                                                        <li class="plaing-stats">
                                                            <span class="ps-title">Match :</span>
                                                            <span class="ps-descr">02+</span>
                                                        </li>
                                                        <li class="plaing-stats">
                                                            <span class="ps-title">payout :</span>
                                                            <span class="ps-descr">$536.25</span>
                                                        </li>
                                                    </ul>
                                                    <div class="winning-number">
                                                        <span class="single-number selected">01</span>
                                                        <span class="single-number selected">25</span>
                                                        <span class="single-number selected">34</span>
                                                        <span class="single-number selected">43</span>
                                                        <span class="single-number selected">55</span>
                                                        <span class="single-number selected special">02</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-winner">
                                                <div class="part-img">
                                                    <img src="assets/img/lottery/winner-3.jpg" alt="">
                                                </div>
                                                <div class="part-text">
                                                    <p><span class="user-name">Rebecca Gaby</span>  has won 13 minutes ago.</p>
                                                    <ul>
                                                        <li class="plaing-stats">
                                                            <span class="ps-title">Match :</span>
                                                            <span class="ps-descr"> 08+</span>
                                                        </li>
                                                        <li class="plaing-stats">
                                                            <span class="ps-title">payout :</span>
                                                            <span class="ps-descr">$325.02</span>
                                                        </li>
                                                    </ul>
                                                    <div class="winning-number">
                                                        <span class="single-number selected">10</span>
                                                        <span class="single-number selected">22</span>
                                                        <span class="single-number selected">30</span>
                                                        <span class="single-number selected">47</span>
                                                        <span class="single-number selected">53</span>
                                                        <span class="single-number selected special">10</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <h4 class="lottery-winners-title">All time top winners</h4>
                                            <div class="single-winner">
                                                <div class="part-img">
                                                    <img src="assets/img/lottery/winner-2.jpg" alt="">
                                                </div>
                                                <div class="part-text">
                                                    <p><span class="user-name">Summer Colson</span>  has won 3 months ago.</p>
                                                    <ul>
                                                        <li class="plaing-stats">
                                                            <span class="ps-title">Match :</span>
                                                            <span class="ps-descr">08+</span>
                                                        </li>
                                                        <li class="plaing-stats">
                                                            <span class="ps-title">payout :</span>
                                                            <span class="ps-descr">$1,965.00</span>
                                                        </li>
                                                    </ul>
                                                    <div class="winning-number">
                                                        <span class="single-number selected">20</span>
                                                        <span class="single-number selected">35</span>
                                                        <span class="single-number selected">54</span>
                                                        <span class="single-number selected">69</span>
                                                        <span class="single-number selected">35</span>
                                                        <span class="single-number selected special">17</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-winner">
                                                <div class="part-img">
                                                    <img src="assets/img/lottery/winner-4.jpg" alt="">
                                                </div>
                                                <div class="part-text">
                                                    <p><span class="user-name">Kai Dellit</span>  has won 7 months ago.</p>
                                                    <ul>
                                                        <li class="plaing-stats">
                                                            <span class="ps-title">Match :</span>
                                                            <span class="ps-descr">08+</span>
                                                        </li>
                                                        <li class="plaing-stats">
                                                            <span class="ps-title">payout :</span>
                                                            <span class="ps-descr">$2,120.25</span>
                                                        </li>
                                                    </ul>
                                                    <div class="winning-number">
                                                        <span class="single-number selected">36</span>
                                                        <span class="single-number selected">21</span>
                                                        <span class="single-number selected">76</span>
                                                        <span class="single-number selected">54</span>
                                                        <span class="single-number selected">77</span>
                                                        <span class="single-number selected special">37</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="part-btn">
                                        <a class='btn-pok' href='lotteries.html'>See full table <i class="fa-solid fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                                <div class="lottery-info">
                                    <div class="part-text">
                                        <h4 class="title">What is super enaLotto?</h4>
                                        <p>EoMillions GO! is a Quick Draw lottery-style game based on the famous European lottery. 
                                        The rules of the game are the same as those of the original lottery but the draw results are determined by a random number generator (RNG). Unlike the EuroMillions lottery with its two draws a week, EuroMillions GO! draws take place every hour, every day of the week!</p>
                                    </div>
                                    <div class="middle-part-elem">
                                        <div class="part-info">
                                            <div class="single-stat">
                                                <h5 class="title">country:</h5>
                                                <div class="country-descr">
                                                    <span class="cn-flag">
                                                        <img src="assets/img/lottery/uk-flag.png" alt="">
                                                    </span>
                                                    <span class="stats-txt">united kingdom</span>
                                                </div>
                                            </div>
                                            <div class="single-stat">
                                                <h5 class="title">Schedule:</h5>
                                                <ul class="stats-descr">
                                                    <li class="stats-txt">Thursday 2:59 AM UTC</li>
                                                    <li class="stats-txt">Fridat 3:19 pM UTC</li>
                                                </ul>
                                            </div>
                                            <div class="single-stat">
                                                <h5 class="title">Guess Range:</h5>
                                                <ul class="stats-descr">
                                                    <li class="stats-txt">5/69+1/29</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="latest-winning-number">
                                            <div class="lwn-header">
                                                <h5 class="title">Latest Result:</h5>
                                                <div class="date-selection">
                                                    <div class="dropdown">
                                                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            24 apr 2022
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                            <li><a class="dropdown-item" href="#0">24 apr 2022</a></li>
                                                            <li><a class="dropdown-item" href="#0">01 may 2022</a></li>
                                                            <li><a class="dropdown-item" href="#0">31 june 2022</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lwn-number-palate">
                                                <span class="single-number selected">20</span>
                                                <span class="single-number selected">35</span>
                                                <span class="single-number selected">54</span>
                                                <span class="single-number selected">69</span>
                                                <span class="single-number selected">35</span>
                                                <span class="single-number selected special">17</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="part-text">
                                        <h4 class="title">How to play EuroMillions GO!</h4>
                                        <p>EoMillions GO! is a Quick Draw lottery-style game based on the famous European lottery. 
                                            The rules of the game are the same as those of the original lottery but the draw results are determined by a random number generator (RNG). Unlike the EuroMillions lottery with its two draws a week, 
                                            EuroMillions GO! draws take place every hour, every day of the week!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- lottery end -->

    <!-- about begin -->
    <div class="about">
        <img src="assets/img/bg-shape/bg-shape-3.png" alt="" class="bg-shape-3">
        <img src="assets/img/bg-shape/bg-shape-4.png" alt="" class="bg-shape-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex d-block align-items-end justify-content-end">
                    <div class="part-img">
                        <img class="main-img" src="assets/img/about/about-img.png" alt="">
                        <img class="bg-img" src="assets/img/about/img-2.png" alt="">
                        <img class="shape-img" src="assets/img/about/img-1.png" alt="">
                        <img src="assets/img/about/ball-1.png" alt="" class="ball-1">
                        <img src="assets/img/about/ball-2.png" alt="" class="ball-2">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="about-text">
                        <div class="section-title for-about-section">
                            <h3 class="sub-title">About us</h3>
                            <h2 class="title">We provide best Mega jackpot</h2>
                        </div>
                        <div class="part-bottom">
                            <div class="part-statics">
                                <div class="single-statics">
                                    <div class="part-icon">
                                        <img src="assets/img/about/icon-1.png" alt="">
                                    </div>
                                    <div class="part-txt">
                                        <span class="number">25.3k</span>
                                        <span class="text">players</span>
                                    </div>
                                </div>
                                <div class="single-statics">
                                    <div class="part-icon">
                                        <img src="assets/img/about/icon-2.png" alt="">
                                    </div>
                                    <div class="part-txt">
                                        <span class="number">46+</span>
                                        <span class="text">lotteries</span>
                                    </div>
                                </div>
                                <div class="single-statics">
                                    <div class="part-icon">
                                        <img src="assets/img/about/icon-3.png" alt="">
                                    </div>
                                    <div class="part-txt">
                                        <span class="number">270+</span>
                                        <span class="text">jackpot</span>
                                    </div>
                                </div>
                            </div>
                            <div class="part-descr">
                                <p>Problem set compensation the harmonics, understood. 
                                    Hundreds times, of until they employed sure a behind boundless their for
                                    boss's the certainly and gilded form of tend every of better an over when of 
                                    than an are until time. <span class="txt-bold">Would of impenetrable</span>  
                                    just the out diesel as it near at that.
                                </p>
                                <ul>
                                    <li>He of his in its price always and feedback of films.</li>
                                    <li>towards sight as not and each and, good.</li>
                                    <li>tone, the of preparations never a even viable a.</li>
                                </ul>
                                <a class='btn-pok' href='about.html'>Know more <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about end -->

    <!-- cta begin -->
    <div class="cta">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-9 col-sm-8 d-xl-flex d-lg-flex d-block align-items-center">
                    <div class="part-text">
                        <h2 class="title">If you have any query about lottery or anything!</h2>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="btn-cta">
                        <a class='btn-pok' href='contact.html'>Contact Us <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta end -->

    <!-- working process begin -->
    <div class="working-process">
        <img src="assets/img/bg-shape/bg-shape-3.png" alt="" class="bg-shape-3">
        <img src="assets/img/bg-shape/wp-shape-2.png" alt="" class="wp-bg-shape-2">
        <img src="assets/img/bg-shape/wp-shape-3.png" alt="" class="wp-bg-shape-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-title">
                        <h3 class="sub-title">How it works</h3>
                        <h2 class="title">easiest way to picking a number</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="single-process">
                        <div class="part-icon">
                            <img src="assets/img/working-process/icon-1.png" alt="">
                        </div>
                        <div class="part-text">
                            <span class="step-number">1.</span>
                            <span class="step-title">Set a budget.</span>
                            <p>Playing the lottery is gambling, so keep it fun by treating it as part of your entertainment budget.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="single-process pp-2">
                        <div class="part-text">
                            <span class="step-title">Choose your lottery.</span>
                            <p>There are 5 exciting draw-based jackpot you can try one or all of them.
                                like powerball etc.</p>
                            <span class="step-number two">2.</span>
                        </div>
                        <div class="part-icon">
                            <img src="assets/img/working-process/icon-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="single-process">
                        <div class="part-icon">
                            <img src="assets/img/working-process/icon-3.png" alt="">
                        </div>
                        <div class="part-text">
                            <span class="step-number">3.</span>
                            <span class="step-title">Pick your numbers.</span>
                            <p>Since it’s all by chance, enjoy picking your numbers or seeing what the lottery terminal generates.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="single-process pp-2">
                        <div class="part-text">
                            <span class="step-title">Check your numbers.</span>
                            <p>If you are a winner, claim your prize: be sure to visit a retailer before your prize expires in 12 months.</p>
                            <span class="step-number four">4.</span>
                        </div>
                        <div class="part-icon">
                            <img src="assets/img/working-process/icon-4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- working process end -->

    <!-- feature begin -->
    <div class="feature">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-8 col-md-8">
                    <div class="part-left">
                        <div class="section-title">
                            <h3 class="sub-title">Why we are best</h3>
                            <h2 class="title">We are proud to provide best services to our clients</h2>
                        </div>
                        <div class="part-img">
                            <img class="main-img" src="assets/img/feature/feature-img.png" alt="">
                            <img class="bg-img" src="assets/img/about/img-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12">
                    <div class="feature-list">
                        <div class="row">
                            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="assets/img/feature/icon-1.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="title">SSL security layer</span>
                                        <p>it's the standard technology for keeping an internet connection secure and safeguarding any sensitive.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="assets/img/feature/icon-2.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="title">Quick Notifications</span>
                                        <p>When you’ve successfully matched enough numbers to win a prize, we notify you via email and/or SMS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="assets/img/feature/icon-3.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="title">No Lost Tickets</span>
                                        <p>Since it’s all by chance, enjoy picking your numbers or seeing what the lottery terminal generates.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="assets/img/feature/icon-4.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="title">No Long Lines</span>
                                        <p>Since it’s all by chance, enjoy picking your numbers or seeing what the lottery terminal generates.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="assets/img/feature/icon-5.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="title">Secure Payments</span>
                                        <p>Since it’s all by chance, enjoy picking your numbers or seeing what the lottery terminal generates.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="assets/img/feature/icon-6.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="title">24/7 friendly support</span>
                                        <p>Since it’s all by chance, enjoy picking your numbers or seeing what the lottery terminal generates.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- feature end -->

    <!-- testimonial begin -->
    <div class="testimonial">
        <div class="bg-shape-1">
            <img src="assets/img/bg-shape/bg-shape-1.png" alt="">
        </div>
        <img src="assets/img/bg-shape/bg-shape-3.png" alt="" class="bg-shape-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-title">
                        <h3 class="sub-title">testimonials</h3>
                        <h2 class="title">client’s valuable feedback</h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-carousel owl-carousel owl-theme">
                <div class="single-testimonial">
                    <div class="part-user-info">
                        <span class="user-name">ruhio S albert</span>
                        <span class="lottery-category">MagaMill. Winner</span>
                        <span class="winning-date">( apr - 2022 )</span>
                    </div>
                    <div class="user-img-cover">
                        <div class="part-img">
                            <img src="assets/img/testimonial/user-1.png" alt="">
                        </div>
                    </div>
                    <div class="part-feedback">
                        <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                            Since it’s all by chance, enjoy picking your numbers or seeing what the 
                        lottery terminal generates Since it’s all by chance.
                        <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                    </p>
                    </div>
                </div>
                <div class="single-testimonial">
                    <div class="part-user-info">
                        <span class="user-name">Leah Stanley</span>
                        <span class="lottery-category">Powerball. Winner</span>
                        <span class="winning-date">( Jan - 2022 )</span>
                    </div>
                    <div class="user-img-cover">
                        <div class="part-img">
                            <img src="assets/img/testimonial/user-2.png" alt="">
                        </div>
                    </div>
                    <div class="part-feedback">
                        <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                            Since it’s all by chance, enjoy picking your numbers or seeing what the 
                        lottery terminal generates Since it’s all by chance.
                        <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                    </p>
                    </div>
                </div>
                <div class="single-testimonial">
                    <div class="part-user-info">
                        <span class="user-name">Megan Clayton</span>
                        <span class="lottery-category">US Lotto. Winner</span>
                        <span class="winning-date">( Dec - 2021 )</span>
                    </div>
                    <div class="user-img-cover">
                        <div class="part-img">
                            <img src="assets/img/testimonial/user-3.png" alt="">
                        </div>
                    </div>
                    <div class="part-feedback">
                        <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                            Since it’s all by chance, enjoy picking your numbers or seeing what the 
                        lottery terminal generates Since it’s all by chance.
                        <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial end -->

    <!-- footer begin -->
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                        <div class="part-about">
                            <div class="footer-logo">
                                <a href='index.html'>
                                    <img src="assets/img/logo.png" alt="" class="logo">
                                </a>
                            </div>
                            <p>Lottery players can play Virginia Lottery games online from anywhere in Virginia on a phone, tablet or computer. </p>
                            <ul class="importants-links">
                                <li class="single-link">
                                    <a href="#0">policy</a>
                                </li>
                                <li class="single-link">
                                    <a href="#0">Terms</a>
                                </li>
                                <li class="single-link">
                                    <a href="#0">license</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-content">
                    <p class="copyright-text">copyright © 2022. all right reserved by PokLotto</p>
                    <ul class="social-link">
                        <li class="single-social">
                            <a href="#0">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="single-social">
                            <a href="#0">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li class="single-social">
                            <a href="#0">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a class='single-menu' href='index.html'>homepage</a>
                            </li>
                            <li>
                                <a class='single-menu' href='about.html'>About Us</a>
                            </li>
                            <li>
                                <a class='single-menu' href='lotteries.html'>Lotteries</a>
                            </li>
                            <li>
                                <a class='single-menu' href='blog-posts.html'>Blog</a>
                            </li>
                            <li>
                                <a class='single-menu' href='contact.html'>contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->

    <!-- back to button begin -->
    <div class="back-to-top-btn">
        <a href="#">
            <i class="fa-solid fa-arrow-turn-up"></i>
        </a>
    </div>
 


    
