<body>


       

        <div id="wrapper">

            <app-header></app-header>
            <app-home></app-home>
            <div id="main-content">
                <router-outlet></router-outlet>
            </div>

        </div>
      

    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/lotteries-initialization.js"></script>
</body>